# Ignore ROS artifacts in any workspace
**/build/
**/devel/
**/install/
**/log/
**/include/

# Ignore pycache
__pycache__/
.idea/
.vscode/
venvs/
venv/
.venv/
venv_old/

*.py[cod]
*$py.class

# Generated crab recognition outputs
src/crab_recognition_pkg/crab_recognition_results/