/* Custom animations and effects */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-animate {
  animation: logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: preference) {
  .logo-animate {
    animation: none;
  }
}